# Project Title (Supermart Grocery Sales)

Problem Statement:
Filtering through the dataset, it is valid to make some assertions that the store owner is most likely looking into daily sales without a more holistic view of where the parameters are more beneficial to her store. From observations, we discoverd  what we can do to make a more detailed analysis in the following areas:
1. Which region makes the most profit
2. Which city makes the most profit
3. Which category and sub-category makes the most
4. Which category and sub-category was patronized more
5. Most Outstanding customer in terms of patronage
6. Frequency of purchase, by which customer, ordered by state, region and subcategories
7. What discount they get per item
8. Trend identification in the year
9. Correlation between sales and discount

### A short description of the project

This project is a supermart grocrey sales dataset which shows important details of daily sales of customers in different regions and cities in a particular state called "Tamil Nadu".

In [2]:
#import python libraries for data manipulation and visualization

import pandas as pd
import numpy as np

#visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Data Inspection

load data set with this code:df=pd.read_csv('filename.csv')
This data was downloaded from Kaggle,click on this link to access the data set:
https://www.kaggle.com/datasets/mohamedharris/supermart-grocery-sales-retail-analytics-dataset

supermart data has 9994 Rows and 11 columns with no missing values.

from my observations, Date data type and column names will be modified.

In [4]:
# load the data
sales_record = pd.read_csv('Supermart Grocery Sales.csv')

In [5]:
#how many rows and columns?
#uses df.shape to check the total rows and columns
sales_record.shape

(9994, 11)

In [7]:
#does it have missing values?
#lets check if our data has missing values using.isna().sum() to give us the total number of the missing values.
sales_record.isna().sum()

Order ID         0
Customer Name    0
Category         0
Sub Category     0
City             0
Order Date       0
Region           0
Sales            0
Discount         0
Profit           0
State            0
dtype: int64

In [9]:
##let's view our first 10 data set by using the .head()function:
sales_record.head(10)

,Order ID,Customer Name,Category,Sub Category,City,Order Date,Region,Sales,Discount,Profit,State
0,OD1,Harish,Oil & Masala,Masalas,Vellore,11-08-2017,North,1254,0.12,401.28,Tamil Nadu
1,OD2,Sudha,Beverages,Health Drinks,Krishnagiri,11-08-2017,South,749,0.18,149.80,Tamil Nadu
2,OD3,Hussain,Food Grains,Atta & Flour,Perambalur,06-12-2017,West,2360,0.21,165.20,Tamil Nadu
3,OD4,Jackson,Fruits & Veggies,Fresh Vegetables,Dharmapuri,10-11-2016,South,896,0.25,89.60,Tamil Nadu
4,OD5,Ridhesh,Food Grains,Organic Staples,Ooty,10-11-2016,South,2355,0.26,918.45,Tamil Nadu
5,OD6,Adavan,Food Grains,Organic Staples,Dharmapuri,06-09-2015,West,2305,0.26,322.70,Tamil Nadu
6,OD7,Jonas,Fruits & Veggies,Fresh Vegetables,Trichy,06-09-2015,West,826,0.33,346.92,Tamil Nadu
7,OD8,Hafiz,Fruits & Veggies,Fresh Fruits,Ramanadhapuram,06-09-2015,West,1847,0.32,147.76,Tamil Nadu
8,OD9,Hafiz,Bakery,Biscuits,Tirunelveli,06-09-2015,West,791,0.23,181.93,Tamil Nadu
9,OD10,Krithika,Bakery,Cakes,Chennai,06-09-2015,West,1795,0.27,484.65,Tamil Nadu

In [8]:
## this is used to check the datatypes of your data columns and if they have thier supposed data types.
##we can see that order date does not have the perfect data type and some column names have whitespace.
sales_record.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       9994 non-null   object
 1   Customer Name  9994 non-null   object
 2   Category       9994 non-null   object
 3   Sub Category   9994 non-null   object
 4   City           9994 non-null   object
 5   Order Date     9994 non-null   object
 6   Region         9994 non-null   object
 7   Sales          9994 non-null   int64
 8   Discount       9994 non-null   float64
 9   Profit         9994 non-null   float64
 10  State          9994 non-null   object
dtypes: float64(2), int64(1), object(8)
memory usage: 859.0+ KB

# Data Cleansing
To make my data clean, i will change the date format and remove whitespaces from my column names.
Whitespace is the space before and/or after the actual text.
we can remove the whitespace with replace function.

In [26]:
#To check if there are null values in our dataset
sales_record.isna()

,Order ID,Customer Name,Category,Sub Category,City,Order Date,Region,Sales,Discount,Profit,State
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
9989,False,False,False,False,False,False,False,False,False,False,False
9990,False,False,False,False,False,False,False,False,False,False,False
9991,False,False,False,False,False,False,False,False,False,False,False
9992,False,False,False,False,False,False,False,False,False,False,False
9993,False,False,False,False,False,False,False,False,False,False,False

In [27]:
#To check the total null values in our dataset
sales_record.isna().sum()

Order ID         0
Customer Name    0
Category         0
Sub Category     0
City             0
Order Date       0
Region           0
Sales            0
Discount         0
Profit           0
State            0
dtype: int64

In [11]:
#Removing  whitespaces
##lets view our columns: 

sales_record.columns

Index(['Order ID', 'Customer Name', 'Category', 'Sub Category', 'City',
       'Order Date', 'Region', 'Sales', 'Discount', 'Profit', 'State'],
      dtype='object')

In [12]:
###removing whitespaces in our columns  with str.replace function from ' ' to ''
sales_record.columns = sales_record.columns.str.replace(' ', '_')

In [13]:
sales_record.columns

Index(['Order_ID', 'Customer_Name', 'Category', 'Sub_Category', 'City',
       'Order_Date', 'Region', 'Sales', 'Discount', 'Profit', 'State'],
      dtype='object')

In [14]:
##now lets change our date column datatype to the right dtype using to_datetime from panda library:
sales_record['Order_Date'] = pd.to_datetime(sales_record['Order_Date'])

In [34]:
##run this code and see the changes in our Order_Date column .
sales_record['Order_Date']

0      2017-11-08
1      2017-11-08
2      2017-06-12
3      2016-10-11
4      2016-10-11
          ...
9989   2015-12-24
9990   2015-07-12
9991   2017-06-06
9992   2018-10-16
9993   2018-04-17
Name: Order_Date, Length: 9994, dtype: datetime64[ns]

# Data Visualization

In this section, visualize import relationships in the data set.

## Univariate Analysis

Create charts where you plot only one variable (column) at a time. 

You can use simple charts like histograms and boxplots.

> For example, use a histogram to plot an age distribution column (if you have one).

> **Make sure to put an explanation or interpretation of the chart in a markdown cell after the chart**

In [ ]:
#univariate analysis cells

In [ ]:
#univariate analysis cells

In [ ]:
#univariate analysis cells

## Bivariate Analysis

Create charts where you plot only two variables at a time on a chart. 

You can use visuals like bar charts, boxplots, scatter plots and so on.

> You can plot variables like age against number of purchases, etc

> **Make sure to put an explanation or interpretation of the chart in a markdown cell after the chart**

In [ ]:
#bivariate analysis cells

In [ ]:
#bivariate analysis cells

In [ ]:
#bivariate analysis cells

## Multivariate Analysis

Create charts where you plot more than two variables at a time on a chart. 

You can use visuals like bar charts, scatter plots and so on.

> Explore how to use the `hue` parameter in `seaborn` chart types

> **Make sure to put an explanation or interpretation of the chart in a markdown cell after the chart**

In [ ]:
#multivariate analysis cells

In [ ]:
#multivariate analysis cells

In [ ]:
#multivariate analysis cells

# Summary

In this markdown cell, summarize your list of findings.

1. 
2. 
3. 
4.